<%-include("header")-%>
<h2>Hello  Nimesh Here</h2>
<p>Since you were unlucky enough to click this link now.You have to read the never ending diary of a person
who was just a nobody and probably still is a nodbody .. He is just your Fellow Mr Anonymous </p>
<%-include("footer")-%>
